<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stocks/site.css' %}">
<html>
    <head>
        <meta charset="utf-8">
        <title>Stocks</title>
    </head>
    <body>
        <h1>Some Stocks on US Market</h1>
        <ul>
            {% for stock_exchange in data %}
            <a href="single_stock?stock={{ stock_exchange.symbol}}&name={{ stock_exchange.description }}">
            <li>{{ stock_exchange.symbol }} ({{ stock_exchange.description }})</li>
            {% endfor %}
        </ul>
    </body>
</html>
